@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>
The blogger allows to create a blogs and posts assigned to created blogs. Ideally it should have also atleast

an authentication and settings for each blog, but this is a big work ahead and at this moment we have only

have CRUD functionalities for Blog and Post.


This site was developed in new technology from Microsoft called .NET Core. ASP.NET Core is a free

and open-source web framework, and the next generation of ASP.NET, developed by Microsoft and the

community. It is a modular framework that runs on both the full .NET Framework, on Windows, and the

cross-platform .NET Core. This technology aimed to replace older Asp.Net with some advantages over it,

like Performance and Cross-platforming. As database was used SQLite, which could be easily replaced due

the fact that we used Entity Framework as ORM and we have migrations.</p>