@model BlogApp.Models.Blog.CreateOrUpdateModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new
        {
            @class = "form-control"
        })
    </div>
    <button type="submit" class="btn btn-default">
        @if (Model.Id == 0)
        {
            <text>Add</text>
        }
        else
        {
            <text>Update</text>
        }
    </button>
}